<!DOCTYPE html>
<html>


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="login_page">


  <div class="container">
    <div class="row">

      <hr>

      <div class="col-md-12">
        <h4 class="login100-form-title">
          Employee Page
        </h4>
      </div>
      <hr>
      <div class="col-md-2">
        <form method="post" action="/createTransaction">
          <div>
            <input name="obj" id="obj" value="<%=data.obj%>" type="hidden" />
            <p>
              <button type="submit" name="wp-submit" id="wp-submit" class="btn btn-primary"> Create Transaction </button>
            </p>
          </div>
        </form>
      </div>

      <div class="col-md-3">
        <form method="post" action="/ViewAllTransactonCreatedByMe">
          <input name="obj" id="obj" value="<%=data.obj%>" type="hidden" />

          <div>
            <p>
              <button type="submit" name="wp-submit" id="wp-submit" class="btn btn-primary"> View All Transaction Created By Me </button>
            </p>
          </div>
        </form>
      </div>

      <div class="col-md-2">

        <form method="post" action="/ViewAllTransaction">
          <input name="obj" id="obj" value="<%=data.obj%>" type="hidden" />
          <div>
            <p>
              <button type="submit" name="wp-submit" id="wp-submit" class="btn btn-primary"> View All Transaction </button>
            </p>
          </div>
        </form>
      </div>
      <div class="col-md-2">

        <form method="get" action="/logout">
          <div>
            <p>
              <button type="submit" name="wp-submit" id="wp-submit" class="btn btn-primary">Log Out </button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-12">

        <h4 class="login100-form-title">
          User Creation Form
        </h4>
        <hr>
      </div>

      <form method="post" action="/transfer">
        <div data-validate="Please enter to">
          <input class="form-group" type="text" name="to" id="to" placeholder="to">
          <span class="focus-form-group"></span>
        </div>
        <div data-validate="Please enter username">
          <input class="form-group" type="text" name="from" id="from" placeholder="from">
          <span class="focus-form-group"></span>
        </div>

        <div class="wrap-form-group validate-input">
          <input class="form-group" type="date" id="date" name="date">
          <span class="focus-form-group"></span>
        </div>

        <div data-validate="Please enter amount">
          <input class="form-group" type="number" name="amount" id="amount" placeholder="amount" min=0>
          <span class="focus-form-group"></span>
        </div>

        <div>
          <span class="focus-form-group">Transaction Creater</span><br>
          <input class="form-group" type="text" value="<%=data.tranCreated%>" disabled>
        </div>

        <div>
          <span class="focus-form-group">Transaction Validate By</span><br>
          <input class="form-group" type="text" value="<%=data.validated%>" disabled>
        </div>
        <input name="obj" id="obj" value="<%=data.obj%>" type="hidden" />

        <div class="col-md-12">
          <p>
            <button type="submit" name="wp-submit" id="wp-submit" class="btn btn-primary"> Transfer Amount </button>
          </p>
        </div>
      </form>
    </div>
  </div>

  <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->


</body>


</html>
